body {
padding-top: 20px;
padding-bottom: 40px;
}

li { margin-bottom:10px; }

.jumbotron {
margin: 60px 0;
text-align: center;
}
.jumbotron h1 {
font-size: 72px;
line-height: 1;
}
.jumbotron .btn {
font-size: 21px;
padding: 14px 24px;
}

h5 { text-transform: uppercase; margin-bottom:1px; font-size:13px; color: gray; }
.pd { padding-left: 28px; }

.jumbotron .preso {
	font-size: 21px;
	text-align:left;
	margin: 20px 10px;
}

/* Supporting marketing content */
.marketing {
margin: 60px 0;
}
.marketing p + h4 {
margin-top: 28px;
}

code { white-space:nowrap; }

#acct_main { padding-top: 50px; max-width:90%; }
.prop { text-align:right; font-weight:bold;}

.bs .label { display:inline; font-size: large; padding: 8px; margin: 60px 3px; }

.footer { clear:both; }

#browserTestWell { content:"CSP Blocked" }

.pacifico { 
	font-family: 'Pacifico', monospace;
}

.email-signup {
	background-color: #FFFFD5;
	padding: 40px;
	border-top: 6px solid yellow;
	margin-top: 30px;
}
.email-signup h3 { margin-top: 8px; }

@media (max-width: 540px) {
	code { white-space: normal; }
}
@media (max-width: 440px) {
	code { font-size: 9pt; }
}
